app-home {
  
html, body {
  width: 100%;
  height: 100%;
}

  div {
    padding: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  p {
    text-align: center;
    font-size: 15px;
    
  }
  .container {    
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(7,7vh) auto ;
    grid-gap: 5px;
    background: #f0ebd8;
  
    .header {
      grid-column: 1 / 3;
      .centerImage {
        text-align: center;
        width: 100%;
        margin: 0 auto;
      } 
    }
    
    .bluehouse {
      grid-column: 1 / 2;
      grid-row-start: 2;
      grid-row-end: 10;
      background: #9f9fee;
    }
    
    .redhouse {
      grid-column: 2 / 3;
      grid-row-start: 3;
      grid-row-end: 10;
      background: #f866aa;
    }
  
  
  .footer {
    grid-column: 1 / 3;
    height: 100%;
    button {
      font-size: 14px;
      font-style: italic; 
    };
  }
 }
  
 
  
  button {
    width: 90%;
    background: #5851ff;
    color: white;
    margin: 5px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    padding: 10px ;
    border-radius: 5px;
    text-transform: uppercase;
    
  }
  
  button:hover {
    color: rgb(207, 13, 13);
    
  }

}